    body{
		font-family: Arial, Verdana, Helvetica, sans-serif!important;
		font-size: 12px;
		margin:0px;
		margin-top:2px;
		padding:0;
		background:url(mapbg.png);
	}

	h2{
		text-align:center;
		margin:0;
		height: 1.4em;
	}
     
	#d3mapper{

		height: 600px;
		width: 1253px;
		margin-left: auto;
		margin-right: auto;
	} 
	
    svg {
     overflow: hidden;
	 font: 10px sans-serif;
    }

	#legend{font-weight: bold; z-index:9999;}

    #countries path {
      fill: #F2EFDF;
      stroke: #fff;
	  opacity: 1;
	  stroke-width:1;
    }
     
    #countries path:hover{
		ffill: #FFF!important;
	  opacity: 1;
    }
	
	#countries path.highlighted{
		fill:#8FE002;
	}

	#container{
		width:100%;
		height:100%;
		margin:0px;
	}
	
	#controls{
		font-weight: bold;
		top: 2px;
		left: 0;
		color: #444;
		padding: 4px;
		margin-top: 2px;
		background: #eee;
		bborder: 1px solid black;
	}
	
	#controls a{
		padding: 3px;
		margin: 2px;
		border: 1px solid grey;
		text-decoration: none;
		color: #444;
		background: #eee;
	}
	
	#controls a:hover{
		background: #fff;
	}

	#countries rect{
		stroke: #666;
		stroke-width: 0.5;
	}

/* legend */
	#legend2 path {
		display: none;
	}
	#legend2 line {
		stroke: #000;
		shape-rendering: crispEdges;
	}
	#legend2 .caption {
		font-weight: bold;
	}